body {
  background-image: url(images/WALL.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Audiowide", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  color: #fff;
}

.box {
  backdrop-filter: blur(8px);
  background-color: #1f2833;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px #66fcf1;
}

h1,
h2,
h3 {
  color: #66fcf1;
  margin: 10px 0;
}

input[type="text"],
input[type="password"] {
  width: 80%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid #45a29e;
  border-radius: 8px;
  background-color: #0b0c10;
  color: #c5c6c7;
  font-size: 16px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-color: #66fcf1;

  outline: none;
}

button {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 8px;
  background-color: #0b0c10;
  color: #66fcf1;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  color: #66fcf2b2;
  background-color: #0b0c109c;
}

.forgot-password a {
  color: #66fcf1;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s;
}

.forgot-password a:hover {
  color: #45a29e;
  text-decoration: underline;
  cursor: pointer;
}

input.ativo {
  box-shadow: 0 0 10px #66fcf1;
  border-color: #ffffff;
}
